<div id="research" class="neat-container">
	<div class="sensor-block">
		<table class="sensor-table">
			<thead></thead>
			<tbody>
				<tr data-ng-controller="statusController" class="status">
					<td>Sensor status: </td>
					<td><img src="frontend/icons/{{status}}.png" alt="Ok" height="30" width="30"/></td>
				</tr>
				<tr data-ng-controller="temperatureController">
					<td>Temperature: </td>
					<td class="sensor-value">{{ temperatureValue }} &#8451;</td>
				</tr>
				<tr data-ng-controller="temperatureController">
					<td>Last measurement: </td>
					<td>{{ temperatureDate | date: 'medium' }}</td>
				</tr>
				<tr>
					<td>Select the interval:</td>
					<td>
						<label>
							<input type="radio" ng-model="value" value=172800000 ng-click="getVal(172800000)">48h</input>
							<input type="radio" ng-model="value" value=86400000 ng-click="getVal(86400000)" ng-checked="true" data-ng-init="getVal(172800000)">24h</input>
							<input type="radio" ng-model="value" value=43200000 ng-click="getVal(43200000)">12h</input>
							<input type="radio" ng-model="value" value=3600000 ng-click="getVal(3600000)">1h</input>
							<input type="radio" ng-model="value" value=1800000 ng-click="getVal(1800000)">30m</input>
							<input type="radio" ng-model="value" value=600000 ng-click="getVal(600000)">10m</input>
							<input type="radio" ng-model="value" value=300000 ng-click="getVal(300000)">5m</input>
						</label>
					</td>
				</tr>
			</tbody>
		</table>
		<canvas class="chart chart-line" chart-data="tempV"
		chart-labels="tempD" chart-options="options"
		chart-dataset-override="datasetOverride" chart-click="onClick">
		</canvas>
		<br>
	</div>
</div>
