.fb-button {
    position: relative;
    border: 1px solid;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    background-color: #3B5998;
    border-color: #3B5998;
    vertical-align: bottom;
    margin: 0 45%;
    padding: 7px;
}

.login-info {
    text-align: center;
}