html {
    height: 100%;
}

body {
    font-family: 'Droid Sans Mono', monospace;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

footer {
    height: 75px;
}

chem-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.neat-container {
    @include outer-container;
    min-height: 100%;
    margin: 0 auto 0;
}

.margin-top-60 {
    margin-top: 60px;
}